server:
  port: 9090

spring:
  application:
    name: ParkingManagement

  datasource:
    url: jdbc:postgresql://localhost:5432/parking
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: never
